ion-content {
    --background: #394454;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

ion-icon {
    font-size: 25px; 
}

ion-input {
    font-size: 15px;
}


ion-item{
    --color: white;
}
