<ion-content padding>
  <ion-list>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Data</ion-label>
      <ion-datetime required [(ngModel)]="customer.scheduling.date" display-format="DD MM YYYY">
        </ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Horário</ion-label>
      <ion-datetime required [(ngModel)]="customer.scheduling.hour" display-format="HH:mm">
        </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="medium" position="stacked">Endereço</ion-label>
      <ion-input required [(ngModel)]="customer.location.publicPlace" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Descrição</ion-label>
      <ion-input required (ionBlur)="comparePassword()" placeholder="Descreva quais materias deseja reclicar" [(ngModel)]="customer.scheduling.description" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Peso</ion-label>
      <ion-input minlength="0" placeholder="Se souber o peso aproximado insira neste campo" [(ngModel)]="customer.scheduling.weight" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Quantidade</ion-label>
      <ion-input minlength="0" placeholder="Se souber a quantidade aproximada insira neste campo" [(ngModel)]="customer.scheduling.quantity" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Foto</ion-label>
      <ion-input placeholder="Para facilitra a gestão de seus resíduos tire uma foto do que deseja reciclar" [(ngModel)]="confirmPassword" type="text"></ion-input>
      <ion-button type="button" shape="round" expand="full" color="primary" (click)="takePicture()">
        Tirar foto
      </ion-button>
    </ion-item>
  </ion-list>