<ion-content padding>
  <ion-list>
    <ion-card *ngFor=" let scheduling of customer.scheduling">
      <ion-item >
        <ion-icon name="pin" slot="start">Agendamento</ion-icon>
      </ion-item>
      
      <ion-card-content>
        <ion-label>{{scheduling.date}}</ion-label>
        <ion-label>{{scheduling.hour}}</ion-label>
        <ion-label>{{scheduling.location.cep}}</ion-label>
        <ion-label>{{scheduling.location.publicPlace}}</ion-label>
        <ion-button fill="outline" slot="end">Detalhes</ion-button>
      </ion-card-content>
    </ion-card>


    <ion-item rounded>
      <ion-datetime placeholder="Data" required [(ngModel)]="scheduling.date" display-format="DD MM YYYY">
      </ion-datetime>
    </ion-item>
    <ion-item rounded>
      <ion-datetime placeholder="Horário" required [(ngModel)]="scheduling.hour" display-format="HH:mm">
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label color="medium" position="stacked">Endereço</ion-label>
      <ion-input required [(ngModel)]="scheduling.location.publicPlace" type="text"></ion-input>
      <ion-button type="button" shape="round" expand="full" color="primary" (click)="getLocation()">
        <ion-spinner name="circles" *ngIf="loading" item-left></ion-spinner>
        Selecionar localização atual
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label color="medium" text-wrap position="stacked">Descreva quais materias deseja reclicar ou mande uma foto dos produtos</ion-label>
      <ion-input required (ionBlur)="comparePassword()" placeholder="" [(ngModel)]="scheduling.description" type="text"></ion-input>
    </ion-item>
    <ion-button type="button" large="true" shape="round" expand="full" color="primary" (click)="takePicture()">
      Tirar foto
    </ion-button>
    <ion-button type="button" large="true" shape="round" expand="full" color="primary" (click)="openGallery()">
      Abrir galeria
    </ion-button>
    <ion-item>
      <ion-label color="medium" position="stacked">Peso</ion-label>
      <ion-input minlength="0" placeholder="" [(ngModel)]="scheduling.weight" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Quantidade</ion-label>
      <ion-input minlength="0" placeholder="" [(ngModel)]="scheduling.quantity" type="number"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button type="button" shape="round" expand="full" color="success" (click)="save()">
      Agendar
    </ion-button>
  </ion-toolbar>
</ion-footer>