<ion-content padding>
  <ion-list>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="customer.email" type="email" placeholder="exemplo@eowyn.com.br"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Senha</ion-label>
      <ion-input [(ngModel)]="customer.password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Confirmar Senha</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-content *ngIf="!islogged">
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Data nascimento</ion-label>
      <ion-datetime cancelText="cancelar" doneText="Ok" display-format="DD/MM/YYYY" [(ngModel)]="customer.birthday"></ion-datetime>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Sexo</ion-label>
      <ion-select [(ngModel)]="customer.sex" placeholder="Selecione seu sexo">
          <ion-select-option *ngFor=" let gender of genders">{{gender}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Quais categorias pretende reciclar</ion-label>
      <ion-select [(ngModel)]="customer.materials" placeholder="Selecione as categorias" multiple="true">
        <ion-select-option *ngFor=" let material of materials">{{material}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="customer.email" type="email" placeholder="exemplo@eowyn.com.br"></ion-input>
    </ion-item>

  </ion-content>
  <button ion-button full round color="success" (click)="signup()">
    <ion-spinner name="circles" *ngIf="loading" item-left></ion-spinner>
    Salvar
  </button>
</ion-content>