<ion-content padding>
  <ion-list>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Email</ion-label>
      <ion-input required [(ngModel)]="customer.email" type="email" placeholder="exemplo@eowyn.com.br"></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Nome</ion-label>
      <ion-input required [(ngModel)]="customer.name" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Senha</ion-label>
      <ion-input required minlength="6" maxlength="20" placeholder="mínimo 6 caracteres e máximo 20" [(ngModel)]="passwordUser" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Confirmar Senha</ion-label>
      <ion-input required (ionBlur)="comparePassword()" minlength="6" maxlength="20" placeholder="mínimo 6 caracteres e máximo 20" [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-content *ngIf="!islogged">
    <ion-item rounded>
      <ion-label color="medium" position="stacked">CPF</ion-label>
      <ion-input required mask="000.000.000-00" [(ngModel)]="customer.cpf" (ionBlur)="checkCPF()" type="text" placeholder="000.000.000-00"></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Data nascimento</ion-label>
      <ion-datetime cancelText="cancelar" doneText="Ok" display-format="DD/MM/YYYY" placeholder="00/00/0000" [(ngModel)]="customer.birthday"></ion-datetime>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Sexo</ion-label>
      <ion-select [(ngModel)]="customer.sex">
        <ion-select-option *ngFor=" let gender of genders">{{gender}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Quais categorias pretende reciclar</ion-label>
      <ion-select [(ngModel)]="customer.materials" multiple="true">
        <ion-select-option *ngFor=" let material of materials">{{material}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">CEP</ion-label>
      <ion-input (ionBlur)="CEPSearch(customer.location.cep)" [(ngModel)]="customer.location.cep" type="text" placeholder="00000-000" mask="00.000-000"></ion-input>
      <ion-spinner name="circles" *ngIf="loadingCep" item-left></ion-spinner>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Município</ion-label>
      <ion-input [(ngModel)]="customer.location.county" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">UF</ion-label>
      <ion-input [(ngModel)]="customer.location.state" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Bairro</ion-label>
      <ion-input [(ngModel)]="customer.location.neighborhood" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Logradouro</ion-label>
      <ion-input [(ngModel)]="customer.location.publicPlace" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Complemento</ion-label>
      <ion-input [(ngModel)]="customer.location.complement" type="text" placeholder=""></ion-input>
    </ion-item>
    <ion-item rounded>
      <ion-label color="medium" position="stacked">Número</ion-label>
      <ion-input [(ngModel)]="customer.location.number" type="number" [min]="0" placeholder=""></ion-input>
    </ion-item>

  </ion-content>
  <ion-content>

    <ion-button type="button" shape="round" expand="full" color="success" (click)="signup()">
      <ion-spinner name="circles" *ngIf="loading" item-left></ion-spinner>
      Salvar
    </ion-button>
  </ion-content>
</ion-content>